/gradle.properties
/gradlew.bat
/local.properties

/gradlew
/gradle
/build

/app/src/main/java/com/example/motionphotoreader/MainActivity.java
/app/src/main/java/com/example/motionphotoreader/MotionPhotoReaderTest.java
